* {
    box-sizing: border-box;
}

form:invalid {
    background: white;
}

input[type=text] {
    border-radius: 0.5em;
    width: 90%;
    margin: 0.5em 0;
}

@media(max-width: 30em) {

    body {
        background: url(images/background-mobile.jpg) no-repeat center center fixed;
        background-size: cover;
    }

}


@media(min-width: 30em) {
    body {
        background: url(images/tablet.jpg) no-repeat center center fixed;
        background-size: cover;
    }

}


@media(min-width: 64em) {
    body {
        background: url(images/login-background.jpg) no-repeat center center fixed;
        background-size: cover;
    }
}
